# FILL MISSING VALUES

### Ở đây dữ liệu sẽ được điền vào những ô missing values bằng phương pháp nội suy

Điền giá trị dựa trên logic: 
- Xác định giá trị cho các cột dựa trên các cột khác trong cùng một hàng. 

Sử dụng giá trị mặc định: 
- Điền các giá trị còn lại bằng giá trị mặc định nếu không có thông tin cụ thể để xác định.

### 1. Điền giá trị cho Putting item into bag
Điều kiện: Picking up item = True và Returning item = False

Giải thích: Nếu người mua đã nhặt sản phẩm lên nhưng chưa trả lại sản phẩm về kệ, rất có thể sản phẩm đã được bỏ vào giỏ hàng. Vì vậy, bạn có thể điền True cho cột Putting item into bag trong trường hợp này.
Điều kiện: Picking up item = True và Returning item = True

Giải thích: Nếu người mua nhặt sản phẩm lên và sau đó trả sản phẩm về kệ, sản phẩm không có khả năng đã được bỏ vào giỏ hàng. Vì vậy, bạn có thể điền False cho cột Putting item into bag trong trường hợp này.

### 2. Điền giá trị cho Taking item out of bag
Điều kiện: Putting item into bag = True và Returning item = False

Giải thích: Nếu sản phẩm đã được đặt vào giỏ và không bị trả lại về kệ, sản phẩm có thể không được lấy ra khỏi giỏ hàng. Vì vậy, bạn có thể điền False cho cột Taking item out of bag nếu giá trị thiếu trong trường hợp này.
Điều kiện: Nếu sản phẩm đã được lấy ra khỏi giỏ hàng (tức là Taking item out of bag = True), và Putting item into bag = True, bạn có thể kiểm tra lại Putting item into bag in the 2nd time để quyết định xem có nên điền giá trị gì.

### 3. Điền giá trị cho Putting item into bag in the 2nd time
Điều kiện: Nếu Putting item into bag = True và Taking item out of bag = True
Giải thích: Nếu sản phẩm đã được bỏ vào giỏ và sau đó lấy ra khỏi giỏ hàng, có thể sản phẩm đã được đặt lại vào giỏ hàng lần thứ hai. Trong trường hợp này, bạn có thể điền True cho Putting item into bag in the 2nd time nếu không có thông tin cụ thể về việc sản phẩm đã được đặt lại hay không.

## 4. Tổng Hợp
Putting item into bag: Điền True nếu sản phẩm đã được nhặt lên và không bị trả lại, điền False nếu sản phẩm đã được trả lại.

Taking item out of bag: Điền False nếu sản phẩm đã được đặt vào giỏ và không bị trả lại, giữ nguyên giá trị nếu đã được lấy ra.

Putting item into bag in the 2nd time: Điền True nếu sản phẩm đã được đặt vào giỏ và lấy ra trước đó.

### Source Code điền missing Values

In [42]:
import pandas as pd
# Đọc dữ liệu từ file CSV
df = pd.read_csv('03_Customer_Behavior_Data.csv')

In [43]:
df.head(10) #Data ban đầu NaN là các giá trị bị mising

,Shelf ID,Person ID,Timestamp,Age,Gender,Height,Weight,Married status,Moving speed (m/s),Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time
0,4,1,1720260000,52,Female,162,41,Married,0.19,16,27,36,True,True,False,False,False,True
1,4,1,1720260120,52,Female,162,41,Married,0.49,5,22,17,True,True,False,True,True,True
2,4,1,1720260300,52,Female,162,41,Married,0.36,4,25,39,True,True,True,True,True,False
3,4,1,1720260360,52,Female,162,41,Married,0.64,8,21,35,True,True,True,False,False,False
4,4,1,1720260480,52,Female,162,41,Married,0.13,6,27,16,True,True,False,False,False,True
5,4,1,1720260720,52,Female,162,41,Married,1.26,5,30,16,True,True,False,True,False,True
6,7,2,1720260720,55,Female,150,54,Single,1.26,11,39,35,True,True,False,False,False,False
7,7,2,1720260960,55,Female,150,54,Single,0.77,1,20,31,True,True,True,True,NaN,True
8,7,2,1720261020,55,Female,150,54,Single,0.39,15,33,18,True,True,False,False,False,False
9,7,2,1720261140,55,Female,150,54,Single,0.12,11,18,15,True,True,True,True,NaN,NaN

In [44]:
import pandas as pd

# Đọc dữ liệu từ file CSV
df = pd.read_csv('03_Customer_Behavior_Data.csv')

# Hàm điền giá trị thiếu dựa trên các quy tắc đã cung cấp
def fill_missing_values(row):
    if pd.isna(row['Putting item into bag']):
        if row['Picking up item'] == True and row['Returning item'] == False:
            row['Putting item into bag'] = True
        elif row['Picking up item'] == True and row['Returning item'] == True:
            row['Putting item into bag'] = False
    
    if pd.isna(row['Taking item out of bag']):
        if row['Returning item'] == False:
            row['Taking item out of bag'] = False
        elif row['Returning item'] == True:
            row['Taking item out of bag'] = False
    
    if pd.isna(row['Putting item into bag in the 2nd time']):
        if row['Picking up item'] == True and row['Returning item'] == True:
            row['Putting item into bag in the 2nd time'] = True
        elif row['Putting item into bag'] == True and row['Taking item out of bag'] == True:
            row['Putting item into bag in the 2nd time'] = True
        else:
            row['Putting item into bag in the 2nd time'] = False

    return row

# Áp dụng hàm điền giá trị thiếu cho từng hàng
df = df.apply(fill_missing_values, axis=1)

# Lưu dữ liệu đã điền giá trị thiếu vào file CSV mới
df.to_csv('03_Customer_Behavior_Data_Filled.csv', index=False)

print("Đã điền giá trị thiếu và lưu vào file 03_Customer_Behavior_Data_Filled.csv")

Đã điền giá trị thiếu và lưu vào file 03_Customer_Behavior_Data_Filled.csv

In [45]:
df.head(10) #Data đã xử lý các giá trị bị mising

,Shelf ID,Person ID,Timestamp,Age,Gender,Height,Weight,Married status,Moving speed (m/s),Item ID,Looking at item (s),Holding the item (s),Holding the bag,Picking up item,Returning item,Putting item into bag,Taking item out of bag,Putting item into bag in the 2nd time
0,4,1,1720260000,52,Female,162,41,Married,0.19,16,27,36,True,True,False,False,False,True
1,4,1,1720260120,52,Female,162,41,Married,0.49,5,22,17,True,True,False,True,True,True
2,4,1,1720260300,52,Female,162,41,Married,0.36,4,25,39,True,True,True,True,True,False
3,4,1,1720260360,52,Female,162,41,Married,0.64,8,21,35,True,True,True,False,False,False
4,4,1,1720260480,52,Female,162,41,Married,0.13,6,27,16,True,True,False,False,False,True
5,4,1,1720260720,52,Female,162,41,Married,1.26,5,30,16,True,True,False,True,False,True
6,7,2,1720260720,55,Female,150,54,Single,1.26,11,39,35,True,True,False,False,False,False
7,7,2,1720260960,55,Female,150,54,Single,0.77,1,20,31,True,True,True,True,False,True
8,7,2,1720261020,55,Female,150,54,Single,0.39,15,33,18,True,True,False,False,False,False
9,7,2,1720261140,55,Female,150,54,Single,0.12,11,18,15,True,True,True,True,False,True